#background {
    position: absolute;
    top: 133px;
    left: 0;
	z-index: 3;
    width: 73%;
    height: 100%;
    /* background-repeat: no-repeat; */
    opacity: 0.4;
	/*background-image: url('../img/MandelbrotSet.png');*/
	background-color: rgba(0, 62, 112, 0.21);
}

.mainContent {
	width: 73%;
	left: 0%;
	position: absolute;
	height: 100%;
	z-index: 3;
	/*color: #fff;*/
	
}

.content {
	position: absolute;
	height: 100%;
	width:100%;
	z-index: 3;
	/*color: #fff;*/
	display: block;
}

.newsBanner {
	border: 2px transparent;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	margin-top: 0;
	width: 90%;
	height: 65px;
	text-align: center;
	font-size: 35px;
	cursor: pointer;
	background-color: rgba(145, 173, 189, 0.71);
}

.newsBanner:hover {
	background-color: rgba(145, 173, 189, 1)
}

.dropdown {
	border: 2px transparent;
	border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	height: auto;
	text-align: center;
	font-size: 35px;
	cursor: pointer;
	background-color: rgba(167, 200, 219, 0.81);
	margin-top: 0px;
	margin-bottom: 0px;
	display: none;
}

